.dashboard-container {
    display: flex; 
    justify-content: center;
}

.dashboard-container h3{
    font-size: 20px;
    font-weight: 300px;
}

.user-dashboard {
    border-radius: 8px;
    width: 350px;
    background-color: #ffcc99;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin-right: 10px;
}

.room-dashboard {
    border-radius: 8px;
    width: 350px;
    background-color: #66b3ff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin-left: 10px;
}

.approve-dashboard {
    border-radius: 8px;
    width: 350px;
    background-color: #66b3ff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin-left: 10px;
}
