.manage-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.manage {
    margin: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 200px;
    padding: 10px;
    font-size: 17px;
    margin: 10px 0;
    background: #eee;
    border-radius: 5px;
}

form select {
    background: #fff;
}

form .form-btn {
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

form .form-btn:hover {
    background: crimson;
    color: #fff;
}

a.form-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

a.form-btn:hover {
    background-color: #0056b3;
}

